<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title %></title>
	<link href="/style.css" rel="stylesheet">
</head>
<body>

	<div id="main">
		<%= yield %>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="/script.js"></script>

</body>
</html>
